extends ../layout/partial

block billboard
  | {{ collection }} Summary

block content
  div.qi-correlation-charts(qi-correlation-charts)
  // The patient/visit table and chart.
  .row.qi-patient-summary
    .col-md-2.qi-profile-panel.qi-patient-table#qi-patient-table
    .col-md-10#qi-patient-chart
  // The correlation charts. For each chart, construct the X and Y axis data
  // type dropdowns and create a container for the chart. The choices object
  // contains the valid data types for the current collection. For each data
  // type, the key value is the data type handle and the value is the text
  // label that is displayed in the dropdown.
  .row
    .col-md-6(ng-repeat="chart in charts")
      .row.qi-axis-dropdowns
        .col-md-4
          // The X axis dropdown.
          .qi-dropdown.qi-x-axis-dropdown
            button.qi-dropbtn
              span.qi-dropdown-icon.qi-xy X
              span {{ choices.x[chart.x] }}
              span.qi-caret.caret
            .qi-dropdown-content
              .qi-dropdown-choice(
                ng-repeat="(key,val) in choices.x"
                ng-model="chart.x"
                ng-click="chart.x=key"
              )
                span.qi-dropdown-icon.qi-check-hide(
                  ng-show="val!=choices.x[chart.x]"
                ) &#10003;
                span.qi-dropdown-icon.qi-check-show(
                  ng-show="val==choices.x[chart.x]"
                ) &#10003;
                span.qi-dropdown-text {{ val }}
        .col-md-4
          // The Y axis dropdown.
          .qi-dropdown.qi-y-axis-dropdown
            button.qi-dropbtn
              span.qi-dropdown-icon.qi-xy Y
              span {{ choices.y[chart.y] }}
              span.qi-caret.caret
            .qi-dropdown-content
              .qi-dropdown-choice(
                ng-repeat="(key,val) in choices.y"
                ng-model="chart.y"
                ng-click="chart.y=key"
              )
                span.qi-dropdown-icon.qi-check-hide(
                  ng-show="val!=choices.y[chart.y]"
                ) &#10003;
                span.qi-dropdown-icon.qi-check-show(
                  ng-show="val==choices.y[chart.y]"
                ) &#10003;
                span.qi-dropdown-text {{ val }}
      .row   
        .col-md-12.qi-correlation-chart(id="qi-correlation-chart-{{ $index }}")

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/collection-detail.html'")
