//- The accordion groups.
- groups = [ 'ktrans', 've', 'taui' ]
//- The group headings.
- headings = { 'ktrans': 'Vascular Permeability Transfer Constant (K<sup>trans</sup>)', 've': 'Extravascular Extracellular Volume Fraction (v<sub>e</sub>)', 'taui': 'Intracellular H<sub>2</sub>O Mean Lifetime (&tau;<sub>i</sub>)' }
//- The group properties.
- properties = { 'ktrans': ['deltaKTrans', 'fxlKTrans', 'fxrKTrans'], 've': ['vE'], 'taui': ['tauI'] }
//- The group column headings.
- columns = { 'deltaKTrans': '&Delta;K<sup>trans</sup>', 'fxlKTrans': 'FXL K<sup>trans</sup>', 'fxrKTrans': 'FXR K<sup>trans</sup>', 'v_e': 'V<sub>e</sub>', 'tau_i': 'T<sub>i</sub>'}

// Mark up accordian header and table content for each group.
.qi-modeling-table
  each group in groups
    accordion
      // The open flag set in the controller expands or collapses the group,
      // e.g. config.ktransOpen.
      accordion-group(is-open="config.#{ group }Open")
        // The != assignment preserves the heading text without escaping the HTML.
        accordion-heading!= headings[group]
          // The open icon (down => open, right => closed).
          i.pull-right.glyphicon(
            ng-class="{'glyphicon-chevron-down': config.#{ group }Open, 'glyphicon-chevron-up': !config.#{ group }Open}"
          )
        
        // The controller determines whether the property table is half or
        // full length. Ktrans is full length, since it has three properties.
        // The others are half length.
        table(class="{{ config.#{ group }TableSize }}")
          // The visit date has its own column group.
          colgroup
            col
          // There is a column group for each property, consisting of one
          // column for the property value and one column for the percent
          // change.
          each prop in properties[group]
            colgroup.qi-colgroup
              col
              col
          
          // The column headings.
          thead
            // The visit data heading.
            th Visit Date
            each prop in properties[group]
              // The property heading without HTML escapes.
              th!= columns[prop]
              // The percent change heading.
              th= '% Change'
          
          // There is one property value row per session.
          tbody
            tr(ng-repeat="sess in sessions")
              // The visit date.
              td.qi-date= '{{ sess.acquisitionDate | moment }}'
              each prop in properties[group]
                // The property value with four decimals.
                td.qi-number= '{{ sess.modeling.' + prop + '.average | number:4 }}'
                // The percent change without decimals.
                td.qi-pct= '{{ sess.modeling.' + prop + 'PctChange | number:0 }}'
