
extends ../layout/partial

include include/accordion-heading-mixin

block billboard
  | {{ imageSequence.session.subject.collection | capitalize }}
  | Patient {{ imageSequence.session.subject.number }}
  | Session {{ imageSequence.session.number }}
  | {{ imageSequence.title }}
  | Volume {{ volume.number }}

block content
  // The modeling parameter overlay select.
  include include/overlay-select
  // TODO - create volume and slice axis sliders in a new file
  //   slice-controls.jade, perhaps using the Session Detail
  //   volume-controls.jade as a basis. Then uncomment the lines
  //   below.
  //- // The opacity, axis and threshold image controls.
  //- include include/image-controls
  .qi-slice-display
    // The Cornerstone slice and overlay image viewports. The overlay
    // viewport is placed in front of the slice viewport using CSS.
    #qi-slice-display.cornerstone-enabled-image(
      oncontextmenu='return false' unselectable='on'
      onselectstart='return false' onmousedown='return false'
    )
    #qi-overlay.cornerstone-enabled-image(
      oncontextmenu='return false' unselectable='on'
      onselectstart='return false' onmousedown='return false'
      ng-style='overlayConfig.style'
    )

block help-text
  // The nested quote ensures evaluation to a string rather than
  // a scope variable.
  .qi-help-text(ng-include="'/partials/help/slice-display.html'")
