.row.qi-chart-row
  // See the modeling-discrete-chart template for nvd3 quirks.
  nvd3-line-chart.qi-dateline-chart(data='config.data' height='100'
    showXAxis='true' showYAxis='false' showLegend='false'
    xAxisLabel='Visit Date' xAxisTickFormat='config.xFormat'
    xAxisTickValues='$parent.config.xValues' xAxisShowMaxMin='false'
    forcex="{{ config.xMaxMin }}"
    callback='applyChart')
