// The image intensity chart.
.row
  h4.col-md-offset-1.col-md-3.qi-chart-title ROI Signal Intensity
.qi-intensity
  .row
    //
      Note: the XAxisTickValues expression works around the following nv3d bug:
      * nv3d XAxisTickValues cannot resolve chart scope attributes.
        nv3d references XAxisTickValues from a child scope that it creates.
        The work-around is to prefix the XAxisTickValues expression by $parent,
        which forces nv3d to resolve the expression in the chart scope.
    nvd3-line-chart.qi-intensity-chart(data='session.graphData'
      showXAxis='true' showYAxis='true' showLegend='true' color='graphColor'
      legendColor='graphColor' XAxisTickValues='$parent.session.seriesNumbers'
      YAxisTickFormat='intensityFormat' YAxisShowMaxMin='false' XAxisLabel='Time Point'
      YAxisLabel='Intensity' interpolate='cardinal' tooltips='true'
      useInteractiveGuideline='true' callback='highlightBolusArrival'
    )
