// Accordion groups and headings.
- groups   = [ 'kTrans', 've', 'taui' ]
- groupHdg = { 'kTrans': 'Vascular Permeability Transfer Constant (K<sup>trans</sup>)', 've': 'Extravascular Extracellular Volume Fraction (v<sub>e</sub>)', 'taui': 'Intracellular H<sub>2</sub>O Mean Lifetime (&tau;<sub>i</sub>)' }

// Table properties.
- props    = { 'kTrans': ['deltaKtrans', 'fxl', 'fxr'], 've': ['ve'], 'taui': ['taui'] }
- width    = { 'kTrans': 'qi-wide-table', 've': 'qi-narrow-table', 'taui': 'qi-narrow-table' }
- colHdg   = { 'deltaKtrans': '&Delta;K<sup>trans</sup>', 'fxl': 'FXL K<sup>trans</sup>', 'fxr': 'FXR K<sup>trans</sup>', 've': 'V<sub>e</sub>', 'taui': 'T<sub>i</sub>'}

// Mark up accordian header and table content for each group.
div.qi-modeling-table
  each group in groups
    accordion
      accordion-group(is-open="groupOpen.#{ group }")
        accordion-heading!= groupHdg[group]
          i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': groupOpen.#{ group }, 'glyphicon-chevron-right': !groupOpen.#{ group }}")
        table(class="#{ width[group] }")
          colgroup
            col
          each prop in props[group]
            colgroup.qi-prop-group
              col
              col
          thead
            th Visit Date
            each prop in props[group]
              th!= colHdg[prop]
              th= '% Change'
          tbody
            tr(ng-repeat="sess in sessionCounter")
              td.qi-date= '{{ sheetData[sess].visitDate }}'
              each prop in props[group]
                td.qi-number= '{{ sheetData[sess].' + prop + ' }}'
                td.qi-pct= '{{ sheetData[sess].' + prop + 'Change }}'
