//
  Display the image selector button as follows:
  * If the image state is 'loaded', then the image selector button
    opens the image when clicked.
  * Otherwise, if a previous load attempt failed, indicated by
    volume.isError() returning true, then the image selector button
    is an unclickable exclamation mark.
  * Otherwise, the image selector button loads the image when clicked.

button.btn.btn-default.btn-xs.qi-nav-btn.qi-vol-btn(
  ng-click='openImage()'
  ng-show="volume.isLoaded()"
)
  .glyphicon.glyphicon-eye-open

button.btn.btn-default.btn-xs.qi-nav-btn.qi-vol-btn(
  ng-show="volume.isError()"
)
  .glyphicon.glyphicon-exclamation-sign

button.btn.btn-default.btn-xs.qi-nav-btn.qi-vol-btn(
  ng-click='volume.load()'
  ng-hide="volume.isLoaded() || volume.isError()"
  ng-disabled="volume.isLoading()"
  qi-spin="volume.isLoading()"
)
  .glyphicon.glyphicon-download
