//
  Display the image selector button as follows:
  * If the image state is 'loaded', then the image selector button
    opens the image when clicked.
  * Otherwise, if a previous load attempt failed, indicated by
    image.isError() returning true, then the image selector button
    is an unclickable exclamation mark.
  * Otherwise, the image selector button loads the image when clicked.

button.btn.btn-default.btn-xs.qi-nav-btn.qi-vol-btn(
  ng-click='openImage()'
  ng-show="image.isLoaded()"
)
  .glyphicon.glyphicon-eye-open

button.btn.btn-default.btn-xs.qi-nav-btn.qi-vol-btn(
  ng-show="image.isError()"
)
  .glyphicon.glyphicon-exclamation-sign

button.btn.btn-default.btn-xs.qi-nav-btn.qi-vol-btn(
  ng-click='image.load()'
  ng-hide="image.isLoaded() || image.isError()"
  ng-disabled="image.isLoading()"
  qi-spin="image.isLoading()"
)
  .glyphicon.glyphicon-download
