.row.qi-chart-row
  // nvd3 has the following quirks (among many others):
  // * isArea, labels and forcey must be interpolated
  // * tickValues resolves an expression strictly in the
  //   local scope; thus, parent scope references must
  //   be qualified by $parent
  // * Setting the xAxisRangeBand results in an error
  //   attempting to call undefined. Many variations
  //   were tried unsuccessfully. Due to the nvd3
  //   undocumented, undecipherable code, the easiest
  //   technique is to issue a callback that hammers
  //   on the generated SVG rect elements.
  nvd3-discrete-bar-chart(data='config.data' height='200'
    showXAxis='true' xAxisShowMaxMin='false' xAxisLabel='Visit Date'
    xAxisTickFormat='config.xFormat' xAxisTickValues='$parent.config.xValues'
    showYAxis='true' yAxisShowMaxMin='false' yAxisLabel='{{ config.yLabel }}'
    yAxisTickFormat='config.yFormat' forcey='{{ config.yMaxMin }}'
    useInteractiveGuideline='true' tooltips='true'
    tooltipContent='config.tooltip')
